<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <title>Crear Oferta</title>
</head>

<body class="body">
    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <form action="/auth/logout" method="POST">
                <button class="nabvar__button" type="submit"> LOGOUT</button>
            </form>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <a class="nabvar__button" href="/auth/login">Acceder</a>

            <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    {{/if}}
    {{#if user}}
    <div class="container">
        <h1 class="container__title">Crear oferta de trabajo</h1>
        <div class="container__form">
            <form class="container__form-features" action="/jobs/create" method="POST" enctype="multipart/form-data">
                <label class="container__form-label" for="title">Título</label>
                <input class="container__form-input" type="text" id="title" name="title">

                <label class="container__form-label" for="description">Descripción</label>
                <input class="container__form-input" name="description" id="description" height="48">

                <label class="container__form-label" for="company">Compañía</label>
                <input class="container__form-input" type="text" id="company" name="company">

                <label class="container__form-label" for="contactEmail">Email</label>
                <input class="container__form-input" type="text" id="contactEmail" name="contactEmail">

                <input type="hidden" id="contactId" name="contactId" value="{{user.id}}">

                <label for="avatar">Image</label>
                <input type="file" id="avatar" name="avatar">
        </div>
        <button class="container__form-button" type="submit">ENVIAR</button>
        </form>
        {{#if error}}
        <div class="container__form-error">
            {{error}}
        </div>
        {{/if}}
    </div>

    </div>
    {{else}}
    <div class="container">
        <div class="container__user">
            <p>¡Necesitas estar registrado para crear una oferta de trabajo!</p>
        </div>
        {{/if}}
        {{#if message}}
        <p class="container__form-error">{{message}}</p>
        {{/if}}
    </div>
</body>

</html>